<p-card [header]="'CUSTOMERS.NEW_CUSTOMER' | translate">
  <form [formGroup]="customerForm" (ngSubmit)="save()">
    <div>
      <label>{{ 'CUSTOMERS.FIRST_NAME' | translate }}</label><br>
      <input pInputText type="text" formControlName="firstName">
    </div>

    <div>
      <label>{{ 'CUSTOMERS.LAST_NAME' | translate }}</label><br>
      <input pInputText type="text" formControlName="lastName">
    </div>

    <div>
      <label>{{ 'COMMON.EMAIL' | translate }}</label><br>
      <input pInputText type="email" formControlName="email">
    </div>

    <div>
      <label>{{ 'COMMON.PHONE' | translate }}</label><br>
      <input pInputText type="text" formControlName="phone">
    </div>

    <br>

    <button
      pButton
      type="submit"
      icon="pi pi-save"
      [label]="'COMMON.SAVE' | translate">
    </button>
  </form>
</p-card>